---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8"


// Our variables
/*$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif*/
.absolute-center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)




@mixin media-query($device)
  @media screen and (max-width: $device) 
    @content




@import "variables", "base", "nav", "header", "blog-post"