---
---
// Our variables
$dark-green: #425851;
$light-green: #00F982;
$light-grey: #dee3e5;
$dark-blue: #284863;
$light-blue: #2b7bb1;
$dark-grey: #232b30;
 
$base-font-family: "Asap", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #232b30;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
/*** 

Everything in this section
Organized by attribute 

**/

/*TEXT STUFF*/

* {
  transition: all .2s;
}

html, body, h1,
.rec p, #me h4,
footer h3, header .social-media,
.preview h3, article.post ul,
footer {
  margin: 0;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.2em;
}

h4 {
  font-size: 1.5em;
  margin-bottom: .5em;
}

/* sans-serif */

* {
  font-family: $base-font-family;
}

/* Serif */

h1, h2, h3, 
#links a, .img p,
p#intro-blurb {
  font-family: Crete Round, Georgia, serif;
}

#blog-text a {
  font-family: Crete Round, Georgia, serif;
  &:visited b {
    font-family: Crete Round, Georgia, serif;
  }
}

/* Monospace */

pre, code, pre span {
  font-family: Ubuntu Mono, Lucida Console, Monaco, monospace !important;
}

/* Text Align */
html, .rec p, figure#me,
.featured, ul.project, main h2 {
  text-align: center;
}

ul {
  &#links, &#blog-links {
    text-align: left;
  }
}

.preview, div#blog-text, pre span {
  text-align: left;
}

/* Dark Blue */

h1 {
  color: #fff;
  text-shadow: 3px 3px 2px $dark-blue;
  font-size: 4em;
  max-width: 60%;
}

footer {
  background: $dark-blue;
  padding: 2em 0;
  img {
    height: 100px;
    margin: $spacing-unit;
  }
}

/* dark grey */

* {
  color: $dark-grey;
}

aside#about-me,
.post aside div.container {
  background-color: $dark-grey;
}

/* light blue */

a {
  color: $light-blue;
  text-decoration: none;
  font-weight: bold;
  &:visited {
    color: $light-blue;
    text-decoration: none;
    font-weight: bold;
  }
}

a#css-concepts {
  background-color: $light-blue;
}

code {
  border: 1px solid $light-blue;
}

/* light grey */

main, figure#me, html {
  background: $light-grey;
}

.img p {
  color: $light-grey;
}

footer {
  p, h3 {
    color: $light-grey;
  }
}

.featured p {
  color: $light-grey;
}

/* Light Green */

a:hover {
  color: $light-green;
}

::selection {
  background-color: $light-green;
  color: #fff;
}

/* Dark Green */

a.img, .featured p, .project li {
  background-color: $dark-green;
}

ul {
  list-style: none;
  display: inline;
  padding: 0;
  line-height: 2em;
}

/** 
 * everything here organized by tag
 */

/* Html and Body modifiers */

html {
  width: 100%;
}

footer {
  clear: both;
}

a:hover {
  border-bottom: 3px solid yellow;
}

div.container {
  max-width: $content-width;
  margin: auto;
  position: relative;
  height: 100%;
  img {
    max-width: $content-width;
  }
}

/** Nav Panel/Bars */

nav#bar {
  display: table-header-group;
  width: 100%;
  height: 3em;
  ul {
    margin: auto;
    display: block;
    width: 100%;
  }
  li {
    display: inline-block;
    a {
      color: $light-grey;
      padding: 5px 10px;
      text-transform: uppercase;
      font-size: .8em;
      letter-spacing: 2px;
      border: 1px solid rgba(255,255,255,.3);
      &:hover {
        border: 1px solid yellow;
        background: rgba(0,0,0,.3);
      }
    }
  }
}

header {
  background-image: url("../imgs/mountain-valley.jpg");
  background-size: cover;
  background-position: center;
  height: 550px;
  width: 100%;
  div.container {
    display: table;
    h1 {
      letter-spacing: .1em;
      vertical-align: middle;
      display: table-cell;
    }
    .social-media {
      display: table-footer-group;
      position: relative;
      bottom: 0;
      height: 3em;
    }
  }
}

/* Social Media Specific */
.social-media {
  li {
    display: inline;
    margin: 0 5px 0 5px;
    a img {
      height: $spacing-unit;
    }
  }
}

/* Main */

main {
  padding: 25px 0;
}

.rec {
  margin-bottom: 2.5em;
}

/* Index.html */

.projects figure {
  background: $dark-green;
}

.img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 175px;
  height: 150px;
  display: inline-block;
  position: relative;
  // margin: 10px 15px;
  overflow: hidden;
  &:hover {
    box-shadow: 0px 0px 20px rgba(44,44,44, .5);
    transform: scale(1.1);
    z-index: 4;
    p{
      bottom: 10px;
    }
    img {
      transform: scale(1.1);
      transition: 1s ease;
    }
  }
  a {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    &:hover {
      border-bottom: 0;
    }
  }
  img {
    width: 100%;
  }
  p {
    position: absolute;
    bottom: 0;
    background: rgba(43, 123, 177, 1);
    padding: 5px 0;
    width: 100%;
    font-weight: 400;
  }
}

div#left{
  left:0;}
div#right{
  right:0;}

/* About Me */

#about-me  {
  padding: 2em 0;
  div div {
  max-width: 250px;
  display: inline-block;
  p {
    font-size: 1.1em;
    }
  }
  figure#me {
    display: inline-block;
    padding: 20px 50px;
    img {
      width: 125px;
      display: inline-block;
      padding: 0 10px;
      position: relative;
      border-radius: 100%;
    }
  }
}



/** 
Blog Index

	Main Body of Blog-Index
 */

.preview {
  width: 45%;
  display: inline-block;
  position: relative;
  padding: 0.5em;
  margin: 10px;
  box-sizing: border-box;
  background: rgba(0,0,0,.2);
  height: 230px;
  border-radius: $spacing-unit;
  overflow: hidden;
  &:hover {
    background: yellow;
  }
  h3 {
    line-height: 1.2em;
    display: inline;
    margin-left: 5px;
    position: relative;
  }
  img {
    height: 60px;
    float: left;
    margin-right: 15px;
  }
  p {
    line-height: 1.4em;
  }
  a {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
    &::hover {
      border: none;
    }
  }
}

#recent {
  width: 100%;
  padding: $spacing-unit;
  img {
    height: 90px;
  }
  p {
    font-size: 1.2em;
    line-height: 1.7em;
    height: 60%;
    top: 0;
    vertical-align: top;
    display: block;
  }
}


/**
 *	Section for Blog Post CSS
 */

article.post ul {
  margin: 0;
  li {
    padding-left: 1em;
    margin: 5px;
  }
}

div#blog-text {
  padding: 5px;
  margin-top: 25px;
  img {
    margin-bottom: 1em;
  }
  p {
    line-height: 25px;
    margin-bottom: 1.5em;
    font-size: 20px;
  }
  h5 {
    font-size: 22px;
    margin-bottom: 1em;
  }
}

figure p.descriptor {
  font-size: 14px !important;
}

h4#date {
  margin-bottom: 15px;
}

h3 {
  margin-bottom: .5em;
}

pre {
  padding: 1em 1.5em;
  margin-bottom: 1.5em;
  border-radius: 25px;
}

p#intro-blurb {
  font-size: 1.375em !important;
  line-height: 1.5 !important;
}

.likes {
  li {
    display: inline;
  }
  img {
    width: 180px;
    margin: 10px;
  }
}

li.quotes {
  margin: 25px !important;
  display: block;
}

#sandburg {
  position: relative;
  width: 90%;
  margin: 45px auto;
  p {
    position: absolute;
    bottom: 0;
    width: 60%;
    right: 20px;
    background-color: white;
  }
}

/**
 *	The Project Portion
 */

.featured {
  width: 400px;
  height: 300px;
  background: url('http://vector.me/files/images/1/5/156638/under_construction_clip_art.jpg');
  background-size: cover;
  background-position: center;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
  p {
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 5px 0;
    margin: 0 auto;
  }
}

ul.project {
  display: block;
  margin: 20px auto;
}

.project li {
  display: inline-block;
  position: relative;
  width: 110px;
  height: 100px;
  margin: 10px 20px;
  padding: 10px;
}

code {
  display: inline-block;
  padding: 0 1em;
}

/**
 * The Responsive section of CSS
 */
@media (max-width: 710px) {
  div {
    &.container {
      width: 100%;
      img {
        max-width: 95%;
      }
    }
  }
  figure img {
    width: 350px;
  }
}

@media (max-width: 500px) {
  header {
    height: 100vh;
    h1 {
      vertical-align: top;
    }
  }
  .social-media li {
    margin: 10px 10px;
    a img {
      height: 30px;
    }
  }
  pre {
    font-size: .7em;
  }
  h2 {
    margin-left: 0 !important;
  }

  .rec figure {
    width: 95vw;
    margin: 1em 0;
  }

  .preview {
    width: 90vw;
    padding: 1em;
    margin: 0;
    height: auto;
  }
  
  #recent {
    width: 90vw;
  }
}

@media (max-width: 400px) {
  .post figure {
    float: none;
    img {
      width: 200px;
    }
  }
  nav#bar li {
    padding: 10px 5px;
    margin: 2px;
    a {
      padding: 10px 5px;
      margin: 2px;
    }
  }
}

// // // Import partialsx from `sass_dir` (defaults to `_sass`)
// @import
// //         "base",
// //         "layout",
//         // "syntax-highlighting"
// ;