---
layout: default
title: Jabber's Site
---

<main>
  <div class="container">
    <section class="rec projects">
      <h2>Recent Projects</h2>
<!--       <a href="#" class="img"><p>coming soon...</p></a>
      <a href="#" class="img"><p>coming soon...</p></a>
      <a href="#" class="img"><p>coming soon...</p></a> -->
      <figure class="img">
        <img src="#" alt="">
        <figcaption>
          <p>coming soon...</p>
        </figcaption>
        <a href=""></a>
      </figure>
      <figure class="img">
        <img src="#" alt="">
        <figcaption>
          <p>coming soon...</p>
        </figcaption>
        <a href=""></a>
      </figure>
      <figure class="img">
        <img src="#" alt="">
        <figcaption>
          <p>coming soon...</p>
        </figcaption>
        <a href=""></a>
      </figure>
    </section>

    <section class="rec blog" class="thumbnail">
  		<h2>Recent Blog Posts</h2>

    	{% for post in site.posts %}
      <figure class="img">
        <img src={{post.imageurl}} alt=post.imagealt>
        <figcaption>
          <p>{{ post.title }}</p>
        </figcaption>
    	 <a href={{ post.url }}></a>
      </figure>
  	  {% endfor %}

    </section>

</main>

{% include about-me.html %}
