<footer>
<!--   <h3>Suggested</h3>
  <div class="container">
    <a href="{{base}}/cheatsheet.html"><img src="{{base}}/imgs/doc.svg" alt="Cheat Sheet"></a>
    <a href="#"><img src="{{base}}/imgs/thumbsup-outline.svg" alt="Suggestion"></a>
    <a href="#"><img src="{{base}}/imgs/thumbsup-outline.svg" alt="Suggestion"></a>
    <a href="#"><img src="{{base}}/imgs/thumbsup-outline.svg" alt="Suggestion"></a>
  </div> -->

  <p>Header Image provided courtesy of <a href="https://unsplash.com/">Unsplash</a></p>
</footer>
