<header>
    <div class="container">
      <nav id="bar">
        <ul>
          <li><a href="{{ base }}/index.html">Home</a></li>
          <li><a href="{{ base }}/blog/index.html">Blog</a></li>
          <li><a href="{{ base }}/project.html">Projects</a></li>
          <li><a href="#">Resources</a></li>
          <li><a href="{{ base }}/about-me.html">About</a></li>
          <!-- <li><a href="{{ base }}/contact.html">Contact</a></li> -->
        </ul>
      </nav> 
    
      <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
      {% include social-media.html %}
    </div>
  </header>