<ul class="social-media">
  <li><a href="https://twitter.com/jabber_26"><img class="twitter" src="{{base}}/imgs/Twitter_white_logo.svg" onmouseover="this.src='{{base}}/imgs/Twitter_blue_logo.svg'" onmouseout="this.src='{{base}}/imgs/Twitter_white_logo.svg'" alt="twitter"></a></li>
  <li><a href="https://github.com/abernet2"><img src="{{base}}/imgs/GitHub-Mark-Light.svg" onmouseover="src='{{base}}/imgs/GitHub-Mark.svg'" onmouseout="src='{{base}}/imgs/GitHub-Mark-Light.svg'"></a></li>
  <li><a href="https://medium.com/@jackabernethy"><img src="{{base}}/imgs/medium-light.png" onmouseover="src='{{base}}/imgs/medium-m-color.png'" onmouseout="src='{{base}}/imgs/medium-light.png'" alt="Medium"></a></li>
  <li><a href="https://www.linkedin.com/in/jack-abernethy-ab257b9b"><img src="{{base}}/imgs/In-White-34px-TM.png" onmouseover="src='{{base}}/imgs/In-2C-34px-R.png'" onmouseout="src='{{base}}/imgs/In-White-34px-TM.png'"></a></li>
</ul>