<ul class="social-media">
  <li><a href="https://twitter.com/jabber_26"><img class="twitter" src="imgs/TwitterLogo_white.png" onmouseover="this.src='imgs/TwitterLogo_blue.png'" onmouseout="this.src='imgs/TwitterLogo_white.png'" alt="twitter"></a></li>
  <li><a href="https://github.com/abernet2"><img src="imgs/GitHub-Mark-Light-32px.png" onmouseover="src='imgs/GitHub-Mark-32px.png'" onmouseout="src='imgs/GitHub-Mark-Light-32px.png'"></a></li>
  <li><a href="https://medium.com/@jackabernethy"><img src="imgs/Medium-light.png" onmouseover="src='imgs/medium-m-color.png'" onmouseout="src='imgs/medium-light.png'" alt="Medium"></a></li>
  <li><a href="https://www.linkedin.com/in/jack-abernethy-ab257b9b"><img src="imgs/In-White-34px-TM.png" onmouseover="src='imgs/In-2C-34px-R.png'" onmouseout="src='imgs/In-White-34px-TM.png'"></a></li>
</ul>