/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
* {
    box-sizing: border-box;
    -webkit-transition: all .15s; /* Safari */
    transition: all .15s;
}

html {
    background-color: $grey-color-light;
}

.page-decoration {
    min-width: $min-content-width;
    max-width: $max-content-width;
    /*box-shadow: $spacing-unit/2 0 rgba(0, 0, 0, 0.075),
                1px 0 rgba(0, 0, 0, 0.1),
                -$spacing-unit/2 0 rgba(0, 0, 0, 0.075),
                -1px 0 rgba(0, 0, 0, 0.1);*/
}

body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $serif-font-family;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    /*My Additions*/
    min-width: $min-content-width;
    max-width: $max-content-width;
    min-height: 100vh;
    box-shadow: $spacing-unit/2 0 rgba(0, 0, 0, 0.075),
                1px 0 rgba(0, 0, 0, 0.1),
                -$spacing-unit/2 0 rgba(0, 0, 0, 0.075),
                -1px 0 rgba(0, 0, 0, 0.1);
    padding: 0;
    box-sizing: initial;
    margin: 0 auto;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-family: $sans-font-family;
    font-weight: 700;
}



/**
 * Links
 */
a {
    /*color: $brand-color;*/
    color: $grey-color;
    font-weight: bold;
    text-decoration: none;

    &:visited {
        /*color: darken($grey-color, 15%);*/
    }

    &:hover {
        color: red;
        /*text-decoration: none;
        padding-bottom: 5px;
        border-bottom: 3px solid $text-color;*/
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: $max-content-width;
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$max-content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$max-content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }

    @include media-query($on-desktop) {

    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}
