
$dark-green: #425851;
$light-green: #00F982;
$light-grey: #dee3e5;
$dark-blue: #284863;
$light-blue: #2b7bb1;
$dark-grey: #232b30;
 
$sans-serif: "Metrophobic", serif;
$slab-serif: "Arbutus Slab", Helvetica, Arial, sans-serif;

$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #232b30;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;
/*** 

Everything in this section
Organized by attribute 

**/

/*TEXT STUFF*/

* {
  transition: all .2s;
}

html, body, h1,
.rec p, #me h4,
footer h3, header .social-media,
.preview h3, article.post ul,
footer {
  margin: 0;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.2em;
}

h4 {
  font-size: 1.5em;
  margin-bottom: .5em;
}

/* sans-serif */

* {
  font-family: $sans-serif;
}

/* Serif */

h1, h2, h3, 
#links a, .img p,
p#intro-blurb {
  font-family: $slab-serif;
}

#blog-text a {
  font-family: $slab-serif;
  &:visited b {
    font-family: $slab-serif;
  }
}

/* Monospace */

pre, code, pre span {
  font-family: Ubuntu Mono, Lucida Console, Monaco, monospace !important;
}

/* Text Align */
html, .rec p, figure#me,
.featured, ul.project, main h2 {
  text-align: center;
}

ul {
  &#links, &#blog-links {
    text-align: left;
  }
}

.preview, div#blog-text, pre span {
  text-align: left;
}

/* Dark Blue */

h1 {
  color: #fff;
  text-shadow: 3px 3px 2px $dark-blue;
  font-size: 4em;
  max-width: 60%;
}

footer {
  background: $dark-blue;
  padding: 2em 0;
  img {
    height: 100px;
    margin: $spacing-unit;
  }
}

/* dark grey */

* {
  color: $dark-grey;
}

aside#about-me,
.post aside div.container {
  background-color: $dark-grey;
}

/* light blue */

a {
  color: $light-blue;
  text-decoration: none;
  font-weight: bold;
  &:visited {
    color: $light-blue;
    text-decoration: none;
    font-weight: bold;
  }
}

a#css-concepts {
  background-color: $light-blue;
}

code {
  border: 1px solid $light-blue;
}

/* light grey */

main, figure#me, html {
  background: $light-grey;
}

.img p {
  color: $light-grey;
}

footer {
  p, h3 {
    color: $light-grey;
  }
}

.featured p {
  color: $light-grey;
}

/* Light Green */

a:hover {
  color: $light-green;
}

::selection {
  background-color: $light-green;
  color: #fff;
}

/* Dark Green */

a.img, .featured p, .project li {
  background-color: $dark-green;
}

ul {
  list-style: none;
  display: inline;
  padding: 0;
  line-height: 2em;
}

/** 
 * everything here organized by tag
 */

/* Html and Body modifiers */

html {
  width: 100%;
}

footer {
  clear: both;
}

a:hover {
  border-bottom: 3px solid yellow;
}

div.container {
  max-width: $content-width;
  margin: auto;
  position: relative;
  height: 100%;
  img {
    max-width: 100%;
  }
}



/* Main */

main {
  padding: 25px 0;
}

.rec {
  margin-bottom: 2.5em;
}

/* Index.html */

.projects figure {
  background: $dark-green;
}

.projects figure img {
  display: none;
}

.img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 175px;
  height: 150px;
  display: inline-block;
  position: relative;
  // margin: 10px 15px;
  overflow: hidden;
  &:hover {
    box-shadow: 0px 0px 20px rgba(44,44,44, .5);
    transform: scale(1.1);
    z-index: 4;
    p{
      bottom: 10px;
    }
    img {
      transform: scale(1.1);
      transition: 1s ease;
    }
  }
  a {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
    &:hover {
      border-bottom: 0;
    }
  }
  img {
    width: 100%;
  }
  p {
    position: absolute;
    bottom: 0;
    background: rgba(43, 123, 177, 1);
    padding: 5px 0;
    width: 100%;
    font-weight: 400;
  }
}

div#left{
  left:0;}
div#right{
  right:0;}





/**
 *	The Project Portion
 */

.featured {
  background-position: center;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
  p {
    width: 100%;
    padding: 5px 0;
  }
  table {
    margin: 0 auto;
    font-size: 2em;
  }
}

ul.project {
  display: block;
  margin: 20px auto;
}

.project li {
  display: inline-block;
  position: relative;
  width: 110px;
  height: 100px;
  margin: 10px 20px;
  padding: 10px;
}

code {
  display: inline-block;
  padding: 0 1em;
}

/**
 * The Responsive section of CSS
 */

@media (max-width: $on-laptop) and (min-width: $on-palm) {
  div {
    &.container {
      max-width: 600px;
      img {
        max-width: 95%;
      }
    }
  }
  figure img {
    width: 350px;
  }
}

@media (max-width: 500px) {
  header {
    height: 100vh;
    h1 {
      vertical-align: top;
    }
  }
  .social-media li {
    margin: 10px 10px;
    a img {
      height: 30px;
    }
  }
  pre {
    font-size: .7em;
  }
  h2 {
    margin-left: 0 !important;
  }

  .rec figure {
    width: 95vw;
    margin: 1em 0;
  }

  .preview {
    width: 90vw;
    padding: 1em;
    margin: 0;
    height: auto;
  }
  
  #recent {
    width: 90vw;
  }
}

@media (max-width: 400px) {
  .post figure {
    float: none;
    img {
      width: 200px;
    }
  }
  nav#bar li {
    padding: 10px 5px;
    margin: 2px;
    a {
      padding: 10px 5px;
      margin: 2px;
    }
  }
}

// // // Import partialsx from `sass_dir` (defaults to `_sass`)
// @import
// //         "base",
// //         "layout",
//         // "syntax-highlighting"
// ;
