header 
  height: $spacing-unit * 20
  background-color: $main-color
  position: relative
  @include media-query($on-palm)
    height: 100vh

  .tagline
    margin: 0 8%
    span
      position: absolute
      bottom: 0
      font-size: 4em
      @include media-query($on-palm)
        font-size: 10vw

.arrow-bar
  border-right: $spacing-unit solid transparent
  border-left: $spacing-unit solid transparent
  border-top: $spacing-unit solid yellow
  position: absolute
  left: calc(#{50%} - #{$spacing-unit})
  z-index: 2