header 
  height: $spacing-unit * 20
  background-color: $main-color
  position: relative

  .tagline
    margin: 0 8%
    span
      position: absolute
      bottom: 0
      font-size: 4em

.arrow-bar
  height: 0
  width: 0
  margin: 0 auto $spacing-unit auto
  border-right: $spacing-unit solid transparent
  border-left: $spacing-unit solid transparent
  border-top: $spacing-unit solid yellow
  background: rgba(0,0,0,0)
