nav.top-nav
  width: 100%
  max-width: $max-content-width
  padding: $spacing-unit
  box-sizing: border-box
  position: fixed
  z-index: 200
  text-transform: uppercase
  @include media-query($on-palm)
    padding: 0

  div
    margin: 0
    position: absolute
    box-sizing: border-box
    padding: $spacing-unit / 3
  
  .nav-left
    left: 5%
    @include media-query($on-palm)
      display: none

  .nav-right
    right: 5%
    @include media-query($on-palm)
      right: 0
      width: 100%
      box-shadow: 0 1px 1px rgba(0,0,0,.2)
      background-color: $main-color

  &.scrolling
    height: 45px
    padding: 0
    background-color: rgba(0,0,0,.8)
    .nav-left
      display: none
    .nav-right
      width: 100%
      right: 0
      text-align: right
      a
        color: yellow
        &:hover
          border-color: yellow

  h2, h3
    margin-bottom: 0

  ul
    margin: 0
    @include media-query($on-palm)
      padding-bottom: 2px
 
  .nav-right
    a
      padding: $spacing-unit/3
      position: relative
      @include media-query($on-palm)
        padding: 0
        font-size: .8em
      &.curr-location
        border-bottom: 3px solid $text-color
      &:hover
        bottom: 3px
        padding-bottom: $spacing-unit/3 + 3px


nav.bar-nav
  background-color: $main-color
  height: $spacing-unit
  text-align: center
  text-transform: uppercase

  &.fixed
    position: fixed
    top: 0
    width: 100%
    background-color: rgba(255, 255, 0, .5)
  
  a
    display: inline-block
    position: relative
    margin: 5px
    &.left-of-arrow
      left: -$spacing-unit
    &.right-of-arrow
      right: -2.5 * $spacing-unit

  &.condensed
    height: 0
    a
      display: none

  .arrow-bar
    display: inline-block
    position: static
    width: 0
    height: 0
    &.extended
      position: absolute
      border-bottom: 30px solid #828282
      border-top: 0
      z-index: 2
      i.fa-bars
        top: 6px
        color: yellow
    &:hover
      border-bottom-color: red
      border-top-color: red
      cursor: pointer
    i.fa-bars
      position: relative
      top: -33px
      left: -6.5px
      color: $grey-color

   
 


