---
layout: default
title: Jack's Blog
---

<main>
	<div class="container">
		<ul id="blog-landing">
		  {% for post in site.posts %}
		    <li class="preview"
		    {% if post == site.posts.first %} id = "recent" {% endif %}
		    >
		      <a href="{{ post.url }}"><img src="{{ post.imageurl }}" alt="{{post.imagealt}}"></a>
		      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
			  <p>{{ post.excerpt | truncatewords: 30 }}</p>
		    </li>
		  {% endfor %}
		</ul>

		<!-- The more part should come with JS + JQuery -->
	</div>
</main>

