/*
green: 425851;
light-green: 00F982;
grey: dee3e5;
dark blue: 284863;
light blue: 2b7bb1;
 */

/*** 

Everything in this section
Organized by attribute 

**/

/*TEXT STUFF*/
* {
	margin: 0;
	transition: all .2s;
}

h2 {
	font-size: 3em;
}

h3 {
	font-size: 2.2em;
}

h4 {
	font-size: 1.5em;
	margin-bottom: .5em;
}

/* sans-serif */
* {
	font-family: 'Asap', Arial, sans-serif;
}

/* Serif */
h1, h2, h3, #links a, .img p, p#intro-blurb {
	font-family: Crete Round, Georgia, serif;
}
/* Monospace */
pre, pre span {
	font-family: "Lucida Console", Monaco, monospace!important;
}

html, .rec p, figure#me, .featured,
ul.project, main h2 {
	text-align: center;
}

header h1, ul#links, ul#blog-links,
.preview, div#blog-text, pre span {
	text-align: left;
}


/* Dark Blue */
h1 {
	color: #fff;
	text-shadow: 3px 3px 2px #284863;
 	font-size: 4em;
 	max-width: 60%;
}

nav#bar a {
	color: #284863;
}

footer {
	background: #284863;
}

/* dark grey */ 
 h2, .preview a, a#more, *  {
	color: #232b30;
}
aside#about-me, .post aside div.container  {
	background-color: #232b30;
}

/* light blue */
a, a:visited, nav#bar li a:hover {
	color: #2b7bb1;
	text-decoration: none;
}
a#css-concepts {
	background-color: #2b7bb1;
}

/* light grey */
main, figure#me, html { 
	background: #dee3e5;
}

.img p, footer p, footer h3,
 .featured p {
	color: #dee3e5;
}


/* Light Green */

a:hover {
	color: #00F982;
}

::selection {
    background-color: #00F982;
    color: #fff;
}

/* Dark Green */
a.img, .featured p, .project li {
 	background-color: #425851;
 }

ul {
	list-style: none;
	display: inline;
	padding: 0;
	line-height: 2em;
}

/** 
 * everything here organized by tag
 */

/* Html and Body modifiers */

html {
	width: 100%;
}

footer {
	clear: both;
	margin: 0;
}

a:hover {
	border-bottom: 3px solid yellow;
}

div.container {
	max-width: 700px;
	margin: auto;
	position: relative;
	height: 100%;
}
div.container img {
	max-width: 700px;
}

/** Nav Panel/Bars */

nav#bar ul {
	margin: auto;
}

nav#bar li {
	display: inline-block;
}
nav#bar li a {
	line-height: 1.5em;
	padding: 5px 10px;
	text-transform: uppercase;
	font-size: .8em;
	font-weight: bold;
	background-color: rgba(255,255,255, .7);
}

nav#bar li a:hover {
	background-color: rgba(255,255,255, 1);
}


header {
	background-image: url("../imgs/mountain-valley.jpg");
	background-size: cover;
	background-position: center;
	height: 350px;
	width: 100%;
	position: relative;
}

header h1 {
	position: absolute;
	letter-spacing: .1em;
	bottom: 10px;
}

header .social-media {
	text-align: right;
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.social-media li {
	display: inline;
	margin: 0 5px 0 5px;
}

.social-media li a img {
	height: 20px;
}


/* Main */

main h2 {
	margin: 1em 0px 1.2em 0;
}
.rec h2 {
	margin: 10px 10px;
}

a.img {
	width: 150px;
	height: 150px;
	display: inline-block;
	position: relative;
	margin: 10px 15px;
	overflow: hidden;
}

a.img:hover {
	border-bottom: 0;
}

a#css-concepts {
	background: url("../imgs/CSS3.png");
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover; 
}

a#arrays-hashes {
	background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Hash_table_4_1_1_0_0_1_0_LL.svg/240px-Hash_table_4_1_1_0_0_1_0_LL.svg.png");
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover; 
}
.img p {
	position: absolute;
	bottom: 0;
	background: rgba(43,123,177, 1);
	line-height: 15px;
	padding: 10px 0;
	width: 100%;
}

.img p:hover {
	bottom: 10px;
}

.rec {
	margin-bottom: 2em;
}

/* About Me */

aside#about-me {
	position: relative;
}

figure#me {
	display: inline-block;
	padding: 20px 50px;
	margin: 20px;
}

#me img {
	width: 100px;
	height: 100px;
	display: inline-block;
	padding: 0 10px;
	position: relative;
	border-radius: 50px;
}

ul#links {
	display: inline-block;
	vertical-align: 50%;
	padding: 35px 0 10px 5px;
	line-height: 1.8em;
	width: 50%;
	max-width: 250px;
}

#links li a {
	font-size: 1.5em;
	font-weight: bold;
}

/** Blog Index ***/

/* Header of Blog Index **/


nav#panel {
	margin-top: 7px;
	position: static;
}

nav#panel a {
	padding: 0 15px 0 15px;
}

ul#blog-links {
	display: inline-block;
	padding: 10px;
	position: static;
}

#blog-links a img {
	display: inline;
	margin-bottom: 0;
}

li a img.twitter {
	margin-bottom: -1px;
	/*height: 28px;*/
	margin-right: -3px;
}

/* 
	Main Body of Blog-Index
 */


ul#blog-landing {
	margin: 25px 0;
}

.preview {
	width: 35%;
	display: inline-block;
	position: relative;
	padding: 0.5em;
	left: 20px;
}

.preview h3 {
	margin: 0;
	max-width: 80px;
}

#recent {
	float: left;
	min-height: 20em;
	overflow: hidden;
	width: 50%;
	margin-right: 5%;
	padding-top: 2em;
}



.preview img {
	display: inline-block;
	height: 60px;
	margin: 0px;
}

.preview p {
	line-height: 1.4em;
}

.preview a {
	color: #232b30;
}

#recent img {
	height: 90px;
	max-width: 120px;
}

#recent p {
	font-size: 1.2em;
	line-height: 1.7em;
}

section#recent p {
	height: 60%;
	top: 0;
	vertical-align: top;
	display: block;
}

.preview h2, .preview h3 {
	display: inline-block;
	margin-left: 5px;
}

section.preview {
	margin: 25px;
}

a#more {
	position: absolute;
	right: 10px;
	color: #232b30;
}

/* 
	Blog Footer
 */

footer {
	padding: 25px;
}

footer h3 {
	letter-spacing: .3em;
	text-transform: uppercase;
}

footer img {
	display: inline-block;
	width: 100px;
	height: 90px;
	margin: 20px;
}

/**
 *	Section for Blog Post CSS
 */

main {
	padding: 25px 0;
}

article.post ul {
	margin: 0;
}

article.post ul li {
	padding-left: 1em;
	margin: 5px;
}


div#blog-text {
	padding: 5px;
	margin-top: 25px;
}

div#blog-text img {
	margin-bottom: 1em;
}

div#blog-text p {
	line-height: 25px;
	margin-bottom: 1.5em;
	font-size: 20px;
}

div#blog-text h5 {
	font-size: 22px;
	margin-bottom: 1em;
}

figure p.descriptor {
	font-size: 14px!important;
}

h4#date {
	margin-bottom: 15px;
}

h3 {
	margin-bottom: .5em;
}

pre {
	padding: 1em 1.5em;
	margin-bottom: 1.5em;
}


p#intro-blurb {
	font-size: 1.375em !important;
	line-height: 1.5 !important;
}

.likes li {
	display: inline;
}

.likes img {
	width: 180px;
	margin: 10px;
}

li.quotes {
	margin: 25px!important;
	display: block;
}

#sandburg {
	position: relative;
	width: 90%;
	margin: 45px auto;
}
#sandburg p {
	position: absolute;
	bottom: 0;
	width: 60%;
	right: 20px;
	background-color: white;
}


/**
 *	The Project Portion
 */
.featured {
	width: 400px;
	height: 300px;
	background: url('http://vector.me/files/images/1/5/156638/under_construction_clip_art.jpg');
	background-size: cover;
	background-position: center;
	margin: 0px auto;
	position: relative;
	overflow: hidden;
}

.featured p {
	position: absolute;
	width: 100%;
	bottom: 0px;
	padding: 5px 0;
	margin: 0 auto;
}

ul.project {
	display: block;
	margin: 20px auto; 
}

.project li {
	display: inline-block;
	position: relative;
	width: 110px;
	height: 100px;
	margin: 10px 20px;
	padding: 10px;
}

code {
	display: inline-block;
	background-color: #ccc;
}

/**
 * The Responsive section of CSS
 */
@media (max-width: 710px) {
	div.container {
		width: 100%;
	}
	div.container img {
	max-width: 95%;
}
	div#left, div#right {
		display: block;
		width: 100%;
	}
	div#left {
		margin-bottom: 0px;
	}
	div#right {
		margin-top: 0;
	}
	figure img {
		width: 350px;
	}
}
@media (max-width: 500px) {
	header h1 {
		position: static;
		max-width: 100%;
		font-style: 30px;
		text-align: center;
		margin: 40px 0;
	}
	header .social-media {
		text-align: center;
		position: relative;
		top: 30px;
	}

	.social-media li {
		margin: 10px 10px;
	}

	.social-media li a img {
		height: 30px;
	}
	pre {
		font-size: .7em;
	}
	h2 {
		margin-left: 0!important;
	}
	
}
@media (max-width: 400px) {
	.post figure {
		float: none;
	}
	.post figure img {
		width: 200px;
	}

	nav#bar li, nav#bar li a{
		padding: 10px 5px;
		margin: 2px;
 	}
		header h1 {
		margin: 20px 0;
	}
}
