/*
green: 425851;
light-green: 00F982;
grey: e0e7e2;
dark blue: 284863;
light blue: 2b7bb1;
 */

/*** Everything in this section
Organized by attribute **/
* {
	margin: 0;
	transition: all .2s;
}
/* sans-serif */
* {
	font-family: 'Asap', sans-serif;
}

::selection {
    background-color: #00F982;
    color: #fff;
}

h1, h2, h3, #links a {
	font-family: Crete Round, Georgia, serif;
}

h1 {
	color: white;
}

/* color 1 */ 
 h2, footer p {
	color: #333;
}
aside#about-me {
	background-color: #333;
}

/* color 2 */
a, a:visited, nav#bar li a:hover {
	color: #2b7bb1;
	text-decoration: none;
}

/* color 3 */
main, footer, figure#me, html { 
	background: #ccc;
}

nav#bar a {
	color: #284863;
}

li a:hover, nav#bar li a:hover {
	color: #00F982;
}

html {
	text-align: center;
}

ul {
	list-style: none;
	display: inline;
}


/** everything here organized
by tag */
/* Html and Body modifiers */

html {
	width: 100%;
}

footer {
	clear: both;
	margin: 0;
}

a:hover {
	border-bottom: 3px solid yellow;
}

div.container {
	max-width: 700px;
	margin: auto;
	position: relative;
	height: 100%;
	border: 1px solid red;
}

/** Nav Panel/Bars */

nav#panel li {
	display: inline;
}

nav#bar {
	text-align: left;
	max-width: 820px;
	margin: auto;
}

nav#bar li {
	display: inline-block;
	line-height: 1.5em;
	padding: 0 5px 0 5px;
	text-transform: uppercase;
	font-size: .8em;
	font-weight: bold;
	background-color: rgba(255,255,255, .7);
}

nav#bar li:hover {
	background-color: rgba(255,255,255, .1);
}


header {
	background-image: url("../imgs/mountain-valley.jpg");
	background-size: cover;
	background-position: center;
	height: 350px;
	width: 100%;
	position: relative;
}
header#blog {
	background: none;
}

header div.container {
	margin-top: 18px;
	height: 89%;
}

header h1 {
	text-align: left;
	position: absolute;
	bottom: 0;
	margin: 25px;
	letter-spacing: .1em;
}

header .social-media {
	text-align: right;
	position: absolute;
	bottom: 0;
}

.social-media li {
	display: inline;
	margin: 0 5px 0 5px;
}

.social-media li a img {
	height: 20px;
}

.social-media li a img.twitter {
	margin-bottom: -4px;
	height: 28px;
	margin-right: -8px;
}

/* Main */

main h2 {
	margin: 0px 0px 10px 40px;
	text-align: left;
	padding-top: 10px;
}

section img {
	width: 150px;
	height: 150px;
	margin: 10px 15px;
}


/* About Me */

#about-me div.container div.container {
	width: 40%;
	float: right;
	margin: 10px;
}

figure#me {
	display: inline-block;
	text-align: left;
	padding: 20px;
	margin: 20px;
}

#me img {
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 0 30px;
	position: relative;
}

figure#me {
	display: inline-block;
}

ul#links {
	display: inline-block;
	float: top;
	text-align: center;
	padding: 20px;
	line-height: 2.2em;
}

#about-me ul.social-media {
	padding: 0;
}

#links li a {
	font-size: 1.5em;
	font-weight: bold;
}

/** Blog Index */
div#left {
	float: left;
	width: 50%;
}

div#right {
	float: right;
	width: 50%;
}
